@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-white" style="backface-visibility:hidden">
    <h1 class="display-4">Get a little spice for a happy price.</h1>
    <p>Order delicious foods with just one click from the best restaurants.</a></p>
    <img class="card-img" src="https://wallpapercave.com/wp/wp3983027.jpg" alt="Background image" style="width:1100px; height:470px;">
</div>